<h1>{{title}}</h1>
<table class="table">
  <tr>
    <th>select room</th>
    <th>even/odd</th>
    <th>Room Number</th>
    <th>Room Type</th>
    <th>Room Price</th>
    <th>Room Amenities</th>
    <th>Checkin Time</th>
    <th>Rating</th>
  </tr>
  <tr
    *ngFor="
      let room of roomList;
      let e = even;
      let o = odd;
      let i = index
    "
    [ngClass]="e ? 'even' : 'odd'"
  >
    <td>{{ i | percent }}</td>
    <td>{{ e ? "even" : "odd" }}</td>
    <td>{{ room.roomNumber }}</td>
    <td>{{ room.roomType }}</td>
    <td>{{ room.price | currency : "EUR" }}</td>
    <td>{{ room.amenities }}</td>
    <td>{{ room.checkInTime | date : "dd:mm:yy" }}</td>
    <td>{{ room.rating | number : "1.5-6" : "en-us" }}</td>
    <td>
      <button class="btn btn-primary" (click)="selectRoom(room)">Select</button>
    </td>
  </tr>
</table>
