<!-- <app-rooms></app-rooms> -->
<!-- <app-container>
  <h1>This is from ng-content</h1>
  <app-rooms></app-rooms>
  <app-employee></app-employee>

</app-container>
<div #name></div> -->
<!-- <div>
    <ng-template #user>

    </ng-template>
</div> -->
<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'user'">
        Welcome user!
    </div>
    <div *ngSwitchCase="'admin'">
        <app-rooms></app-rooms>
    </div>
    <div *ngSwitchDefault>
        you are not logged in
    </div>
</div> -->
<app-app-nav></app-app-nav>

