<h1>Welcome to {{ hotelName }}</h1>

<div [hidden]="hideRooms">
  Number of Rooms:
  <div
    [ngStyle]="{ color: rooms?.availableRooms ? 'green' : 'red' }"
    [innerText]="numberOfRooms"
  ></div>
</div>

<!-- {{ rooms?.availableRooms ?? "No Rooms Available" }} -->
<div *ngIf="selectedRoom">
  {{selectedRoom | json}}
</div>
<div>
  <button (click)="addRoom()">Add Room</button>
</div>
<div  *ngIf="rooms !== undefined && rooms.availableRooms > 0">
  <app-rooms-list 
  [roomList]="roomList"
  [title]="'Room List'"
  (selectedRoom)="selectRoom($event)"
  ></app-rooms-list>
</div>
<button (click)="toggle()">Toggle</button>
